body {
    font-family: 'Shippori Antique B1', sans-serif;
    height: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-list {
    list-style-type: none;
}

.navbar a {
    color: black;
    text-decoration: none;
}
.navbar a:hover {
    color: black;
    text-decoration: none;
}

.navbar a:visited {
    color: black;
    text-decoration: none;
}

.iframe_a {
    height: 100vh
    border: 0px;
}

footer {
    height: 10%;
    position: fixed;
    vertical-align: bottom;
}

#container > div {
    width: calc(100%/12);
    display: inline-block;
    justify-self: end;
    height: 60px;
    text-align: center;
    text-justify: distribute;
}

.navbar > div {
    float: right;
}

#main {
    height: 100%;
}